{{#talks}}
<article class="history-event">
  <header class="speaker">
    {{#if speaker}}
      {{#if speaker.portrait}}
         <div class="speaker-portrait" style="background-image: url({{speaker.portrait}});"></div>
      {{else }}
        <span class="fa-stack fa-5x">
          <i class="fa fa-question fa-stack-1x"></i>
        </span>
      {{/if}}
      <span class="speaker-name"><a href="http://twitter.com/{{speaker.twitter}}">{{speaker.name}}</a></span>
    {{else }}
      <span class="fa-stack fa-5x">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-question fa-stack-1x"></i>
      </span>
    {{/if}}
  </header>
  <div class="event-content">
    {{#if title}}
      <div class="meta">
        Language: {{language}} | Level: {{level}}
      </div>
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <div class="resources">
        {{#if git}}
          <a href="{{git}}"><i class="fa fa-github fa-2x"></i></a>
        {{/if}}
        {{#if slides}}
          <a href="{{slides}}"><i class="fa fa-desktop fa-2x"></i></a>
        {{/if}}
        {{#if video}}
          <a href="{{video}}"><i class="fa fa-vimeo-square fa-2x"></i></a>
        {{/if}}
      </div>
    {{else}}
    <p><strong>This slot could be yours! Submit your talk now.</strong>  You did some crazy stuff with JavaScript? You want to show it to the community? Drop us a line on your topic on <a href="https://twitter.com/bcnjs">Twitter</a> or to <a href="https://plus.google.com/u/0/communities/115705669406517039298">Google+</a>.</p>
    {{/if}}
  </div>
</article>
{{/talks}}
